/*equipo*/
@import "generales";

.equipo {
  @extend .generales;
  padding-bottom: 3px;
}
  
  .equipo__titulo {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 2rem; }
  
  .equipo__parrafoPresentacion {
    font-size: 1.25rem;
    text-align: left;
    margin-left: 3px;
    margin-right: 3px; }
  
  .equipo__parrafo {
    font-size: 1rem;
    text-align: left;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 20%; }
  
  .equipo__contenedor {
    flex-basis: 50%; }
  
  .equipo__imagen {
    width: 90%;
    height: 90%;
    border-radius: 70%; }
  
  .equipo__imagenLOGO {
    width: 90%;
    height: 200px; }