/* 
--Paleta de colores:
$ultramarine-blue: rgba(45, 100, 255, 1);
$french-sky-blue:  rgb(119, 181, 254);
$mauve: rgba(207, 176, 255, 1);
$electric-purple: rgba(191, 37, 255, 1);
$black: rgba(0, 0, 0, 1);
*/
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif; }

.generales{
  background-color: #2888f5;
  color: white;
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
}